{% extends 'base.html' %}

{% block title %}Coffee and Wifi{% endblock %}

{% block content %}

<link rel="stylesheet" href="/coffee_css/styles.css">
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Coffee & Wifi</h1>
        <p class="lead">Want to work in a cafe but need power and wifi?</p>
        <hr class="my-4">
        <p>This Is My Coffee & Wifi Website.</p>
        <a class="btn btn-warning btn-lg" href="/cafes" role="button">Show Me!</a><br><br>
    </div>
</div>

{% endblock %}
